.contact{
    color: white;
    background-color: teal;
    padding: 15px;
    display: flex;
    justify-content: center;

    .wrapper{
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input{
            padding: 10px;
            border: none;
            border-radius: 5px 0 0 5px;
        }
        button{
            padding: 10px;
            color: white;
            background-color: #333;
            border: none;
            border-radius: 0 5px 5px 0;
        }
        .icons{
            display: flex;
            gap: 10px;
        }
    }
    
}