.slider {
  height: calc(100vh - 80px);
  width: 100%;
  position: relative;
    overflow: hidden;

  .container {
    width: 300vw;
    height: 100%;
    display: flex;
    transition: all 1s ease-in-out;

    img {
      width: 100vw;
      height: 100%;
      object-fit: cover;
    }
  }
  .icons {
    display: flex;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 50%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .icon {
      width: 50px;
      height: 50px;
      border: 1px solid grey;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      opacity: 50%;
      cursor: pointer;
    }
    .icon:hover {
      opacity: 100%;
    }
  }
}
